@charset "utf-8";
@import url("featured_slide.css");
html{overflow-y:scroll;}
.justify{text-align:justify;}
.bold{font-weight:bold;}
.center{text-align:center;}
.right{text-align:right;}
.nostart{margin:0; padding:0; list-style-type:none;}

.clear{clear:both;}
br.clear{clear:both; margin-top:-15px;}

#a{outline:none; text-decoration:none; color:#660000; background-color:none;}

.fl_left, .imgl{float:left;}
.fl_right, .imgr{float:right;}

#img{display:block; margin:0; padding:0; border:none;}
.imgl, .imgr{border:1px solid #C7C5C8; padding:5px;}
.imgl{margin:0 8px 8px 0; clear:left;}
.imgr{margin:0 0 8px 8px; clear:right;}

/* ----------------------------------------------wrap------------------------------------- */

div.wrap{display:block; width:100%; text-align:left;}
div.wrap h1, div.wrap h2, div.wrap h3, div.wrap h4, div.wrap h5, div.wrap h6{margin:0 0 15px 0; padding:0; font-size:20px; font-weight:normal; line-height:normal;}
.col2{color:#FFFFFF; background: url(../../images/noise.png) #4a235a; padding:20px 0; margin-top: 5%;}

/* ----------------------------------------------Generalise------------------------------------- */

.container, #hpage_cats, #adblock, #socialise {display:block; position:relative; width:960px; margin:0 auto;}

/* ----------------------------------------------BreadCrumb------------------------------------- */

#breadcrumb ul{margin:0; padding:0; list-style:none;}
#breadcrumb ul li{display:inline;}
#breadcrumb ul li.current a{text-decoration:underline; color:#FFFF00; background-color:#191919;}

/* ----------------------------------------------Content------------------------------------- */

.container{padding:20px 0;}
.content{display:block; float:left; width:630px;}

/* ----------------------------------------------Column------------------------------------- */

.column{display:block; float:right; width:270px;}
.column .holder{display:block; width:260px; margin-bottom:20px; padding-left:10px;}

/* Sponsors Block */

.column .sponsors{display:block; width:270px; margin-bottom:20px;  font-family: Comic Sans MS;}
.column .sponsors h2{margin:0 0 15px 10px; padding:0 0 8px 0; border-bottom:2px solid #E3E3E3;}
.column .sponsors .b_250{display:block; width:258px; margin:0 0 10px 10px; padding:4px; border:none;}
.column .sponsors .b_251{display:block; width:134px; margin:0 0 10px 10px; padding:4px; border:1px solid #C7C5C8;}
.column .sponsors .b_125 ul{margin:0; padding:0; list-style:none;}
.column .sponsors .b_125 ul{margin:0; padding:0; list-style:none;}
.column .sponsors .b_125 li{float:right; margin:0 0 10px 10px;}

/* ----------------------------------------------Homepage Specific------------------------------------- */

#topstory{display:block; width:100%; margin-bottom:25px;  font-family: Comic Sans MS;}
#topstory h2, #latestnews h2{margin:0 0 15px 0; padding:0 0 8px 0; border-bottom:2px solid #E3E3E3; font-family: Comic Sans MS;}
#topstory ul{margin:0; padding:0; list-style:none; display:inline;}
#topstory li{display:block; float:left; width:200px; margin:0 15px 0 0; padding:0;}
#topstory li.last{margin-right:0;}
#topstory img{margin:0; padding:4px; border:1px solid #C7C5C8;}
#topstory .readmore{font-weight:bold; text-align:right; font-family: Comic Sans MS;}
.readmore {font-weight:bold; text-align:right; font-family: Comic Sans MS;}

#latestnews{display:block; width:630px; margin-bottom:35px;}
#latestnews .latestnews h2{margin:0; padding:0; font-size:1.5em; font-weight:bold; border-bottom:none; font-family: Comic Sans MS;}
#latestnews ul, #latestnews li{display:block; width:100%; margin:0; padding:0; list-style:none;}
#latestnews li{margin:0 0 15px 0; padding:0 0 15px 0; border-bottom:1px dotted #666666;}
#latestnews div.imgholder{display:block; float:left; width:135px; height:135px; margin:0; padding:4px; border:1px solid #666666;}
#latestnews div.latestnews{display:block; float:right; width:475px; margin:0; padding:0; font-family: Comic Sans MS; font-size: 1em;}
#latestnews p.readmore{display:block; margin-top:10px; text-align:right; font-weight:bold; font-family: Comic Sans MS; font-size: 1em;}

